* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}

@font-face {
	font-family: 'Reey';
	src: url(../fonts/Reey-Regular.otf);
}

body {
    color: white;
}

.header {
    padding: 35px 0;
    background-image: url(img/header_background.png);
}


/* Menu */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 35px;
}

.navbar a {
    display: flex;
    justify-content: flex-end;
    margin-left: 45px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: lightgray;
}

.button {
    display: flex;
    margin-left: 45px;
}

.search {
    padding: 8px 0;
    border-radius: 20px;
    width: 120px;
}


/* Header */

.banner {
    display: flex;
    align-items: flex-start;
    padding: 120px 0 120px 65px;
}

.header_left {
    width: 50vw;
}

.header_left img {
    margin-bottom: 45px;
}

.header_left h1 {
    font-family: 'Reey';
    font-size: 80px;
    margin-bottom: 80px;
}

.header_left a {
    background-color: white;
    padding: 5px 22px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 12px;
}

.lorem {
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.text {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.header_right {
    position: relative;
    width: 50vw;
    text-align: right;
}

.plate {
    position: absolute;
    right: 30px;
    top: 25px;
}

.pot {
    position: absolute;
    right: 380px;
    top: 440px;
}

.basile {
    position: absolute;
    right: 0;
    top: 395px;
}

@media screen and (max-width: 1050px) {
    .header {
        padding: 0;
        margin: 0 auto;
    }

    .header_left {
        text-align: center;
        width: 100%;
    }

    .header_right {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        padding: 0 15px;
        margin: 0 auto;
        font-size: 8px;
    }

    .navbar a {
        margin: 25px 15px;
    }

    h1 {
        font-size: 22px;
    }

    .button {
        display: none;
    }

    .banner {
        padding: 60px 0;
    }
}
    

/* Section Menu */

.menu {
    background-color: white;
    color: black;
    margin: 30px 0 60px 0;
}

.title_lorem {
    text-align: center;
}

.title_lorem h2 {
    font-family: 'Reey';
    font-size: 60px;
    margin: 50px 0;
}

.title_lorem p {
    font-size: 19px;
    margin: 0 300px;
    margin-bottom: 80px;
}

.plates_menu {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 50px 0;
}

.plates {
    text-align: center;
}

.plates_menu h3 {
    padding: 0 30px;
    text-align: start;
}

.plates_menu p {
    padding: 10px 30px;
    text-align: start;
}

.button_more {
    text-align: center;
}

.button_more a {
    background-color: rgb(39, 39, 39);
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 20px;
}

@media screen and (max-width: 1050px) {
    .plates_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title_lorem h2 {
        font-size: 32px;
    }

    .title_lorem p {
        margin: 0 auto;
        padding: 10px 15px;
    }

    .plates h3 {
        text-align: center;
    }

    .plates p {
        text-align: center;
    }
}

/* Section Info */

.paragraph {
    background-color: rgb(39, 39, 39);
    text-align: center;
    padding: 30px 160px 0;
}

.paragraph h2 {
    font-family: 'Reey';
    font-size: 60px;
    margin: 40px 0 60px 0;
}

.paragraph p {
    column-count: 2;
    gap: 45px;
    text-align: justify;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 60px;
}

.button_info {
    text-align: center;
    padding-bottom: 60px;
}

.button_info a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 12px;
}

@media screen and (max-width: 900px) {
    .paragraph {
        padding: 30px 50px 0 50px;
    }

    .paragraph h2 {
        font-size: 32px;
    }
    
    .paragraph p {
        column-count: 1;
    }
}

/* Section Cuisine */

.read {
    background-color: white;
    color: black;
    padding: 50px 50px 0 50px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.dos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dos h2 {
    margin-bottom: 25px;
    font-size: 48px;
}

.dos p {
    padding-bottom: 35px;
    font-size: 19px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.un {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.un h2 {
    margin-bottom: 25px;
    font-size: 48px;
}

.un p {
    padding-bottom: 35px;
    font-size: 19px;
}

.button_cuisine {
    text-align: center;
}

.button_cuisine a {
    background-color: rgb(39, 39, 39);
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 20px;
}

@media screen and (max-width: 1100px) {
    .uno {
        height: 150px;
        width: auto;
    }

    .dos {
        height: 150px;
        width: auto;
    }
}


/* Section Pizza */

.pizza {
    background-image: url(img/header_background.png);
    padding-top: 60px;
    margin-bottom: 200px;
    height: 850px;
    text-align: center;
    position: relative;
}

.pizza h2 {
    font-family: 'Reey';
    font-size: 48px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.pizza p {
    margin-bottom: 35px;
}

.pizz img {
    position: absolute;
    right: 80px;
}

.part img {
    position: absolute;
    top: 700px;
    right: 600px;
}

.basile_1 img {
    position: absolute;
    right: 0;
    bottom: 178px;
}

@media screen and (max-width: 1000px) {
    .pizza {
        padding: 30px 50px 0 50px;
        margin: 0;
        height: 620px;
        position: relative;
    }
    
    .pizza h2 {
        font-size: 32px;
    }
    
    .pizz img {
        position: static;
        width: 300px;
        height: 300px;
    }

    .part img {
       display: none;
    }

    .basile_1 img {
        display: none;
    }
}


/* Section Avis */

.avis {
    color: black;
    padding: 0 120px 120px 120px;
}

.notes {
    display: flex;
    justify-content: center;
}

.notes h2 {
    font-family: 'Reey';
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.u {
    display: flex;
    flex-direction: column;
}

.d {
    display: flex;
    flex-direction: column;
}

.t {
    display: flex;
    flex-direction: column;
}

.para {
    margin: 200px 200px 0 200px;
    text-align: center;
}

.para p {
    margin-top: 35px;
}


/* Section Formulaire */

.formulaire {
    background-image: url(img/header_background.png);
    height: 800px;
    text-align: center;
    position: relative;
}

.basile_form img {
    position: absolute;
    right: 0;
    margin-top: -50px;
}


/* Footer */

.footer {
    height: 600px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 220px 50px 120px 50px;
}

.section_footer {
    gap: 150px;
}

.section_footer h2 {
    padding-bottom: 10px;
}

.section_footer p {
    font-size: 19px;
    padding-top: 5px;
}

.section_footer ul {
    display: flex;
    justify-content: flex-start;
}

.section_footer li {
    list-style-type: none;
}

.left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.right {
   display: flex;
   grid-column: 3 / 5;
   grid-row: 1 / 2;
}

.section_footer img {
    background-color: black;
    margin-right: 15px;
    margin-top: 25px;
}
