* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}

@font-face {
	font-family: 'Reey';
	src: url(../fonts/Reey-Regular.otf);
}


body {
    color: white;
}

header {
    /*height: 100vh;*/
    padding: 35px 0;
    background-image: url(img/header_background.png);
}


/* Menu */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 35px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    list-style-type: none;
    margin-left: 45px;
    letter-spacing: 1px;
}

.button {
    display: flex;
    margin-left: 45px;
}

.search {
    padding: 8px 0;
    border-radius: 20px;
    width: 120px;
}


/* Header */

.banner {
    display: flex;
    align-items: flex-start;
    padding: 120px 0 120px 65px;
}

.header_left {
    width: 50vw;
}

.header_left img {
    margin-bottom: 45px;
}

.header_left h1 {
    font-family: 'Reey';
    font-size: 80px;
    margin-bottom: 80px;
}

.header_left a {
    background-color: white;
    padding: 5px 22px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 12px;
}

.lorem {
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.text {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.header_right {
    position: relative;
    width: 50vw;
    text-align: right;
}

.plate {
    position: absolute;
    right: 30px;
    top: 25px;
}

.pot {
    position: absolute;
    right: 380px;
    top: 440px;
}

.basile {
    position: absolute;
    right: 0;
    top: 395px;
}


/* Section Menu */

.menu {
    background-color: white;
    color: black;
    margin: 30px 0 60px 0;
}

.title_lorem {
    text-align: center;
}

.title_lorem h2 {
    font-family: 'Reey';
    font-size: 60px;
    margin: 50px 0;
}

.title_lorem p {
    font-size: 19px;
    margin: 0 300px;
    margin-bottom: 80px;
}

.plates_menu {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 50px 0;
}

.plates {
    text-align: center;
}

.plates_menu h3 {
    padding: 0 30px;
    text-align: start;
}

.plates_menu p {
    padding: 10px 30px;
    text-align: start;
}

.button_more {
    text-align: center;
}

.button_more a {
    background-color: rgb(39, 39, 39);
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 20px;
}


/* Section Info */

.paragraph {
    background-color: rgb(39, 39, 39);
    text-align: center;
    padding: 30px 160px 0;
}

.paragraph h2 {
    font-family: 'Reey';
    font-size: 60px;
    margin: 40px 0 60px 0;
}

.paragraph p {
    column-count: 2;
    gap: 45px;
    text-align: justify;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 60px;
}

.button_info {
    text-align: center;
    padding-bottom: 60px;
}

.button_info a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 12px;
}


/* Section Cuisine */

.read {
    background-color: white;
    color: black;
    padding: 50px 50px 0 50px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.dos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dos h2 {
    margin-bottom: 25px;
    font-size: 48px;
}

.dos p {
    padding-bottom: 35px;
    font-size: 19px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.un {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.un h2 {
    margin-bottom: 25px;
    font-size: 48px;
}

.un p {
    padding-bottom: 35px;
    font-size: 19px;
}

.button_cuisine {
    text-align: center;
}

.button_cuisine a {
    background-color: rgb(39, 39, 39);
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 20px;
}


/* Section Pizza */

.pizza {
    background-image: url(img/header_background.png);
    padding-top: 60px;
    margin-bottom: 200px;
    height: 850px;
    text-align: center;
    position: relative;
}

.pizza h2 {
    font-family: 'Reey';
    font-size: 48px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.pizza p {
    margin-bottom: 35px;
}

.pizz img {
    position: absolute;
    right: 80px;
}

.part img {
    position: absolute;
    top: 700px;
    right: 600px;
}

.basile_1 img {
    position: absolute;
    right: 0;
    bottom: 178px;
}